.App-header {
  background-color:rgb(255, 255, 255) ;
  min-height: 10vh;
  display:flex;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
  padding: 20px;

  
  color: rgb(0, 0, 0);
  padding-bottom: 200px;
}


:root {
  --white: white;
  --mid-turquoise: #14d5c9;
  --dark-turquoise: #046d85;
  --red: rgb(255, 255, 255);
  --black: black;
  --grey: #d6e2e7;
  --dark-grey: #7f8a8e;
  --yellow: #f9c51a;
  --orange: #ff5c00;
  --fuschia: #e80352;
  --blue: #338fff;
  --blue-dark: #145cb3;
  --purple: #cda2ff;
  --green: #00ef7c;
  --color: var(--black);
  --background: var(--red);
  --primary: var(-white);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  color: var(--color);
  background-color: var(--background);
}

.App {
  color: var(--color);
  background-color: var(--background);
  min-height: 100vh;
  max-width: 1600px;

  display: flex;
  justify-content: center;
  width: 100vw;
  height:100vw;
  /* border: 100px;
  border-color: black; */
}

.all-cards{
  display:flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top:50px;
}

.App.light {
  --color: var(-red);
  --background: var(--white);
  --primary: var(--dark-turquoise);
}

section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* buttons */
button, .buttonHome, .buttonAbout {
  appearance: auto;
  padding: 0.5rem 0.75rem;
  border: none;
  font: inherit;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
  color: var(--primary);
  background-color: var(--background);
  border: 2px solid var(--dark-turquoise);
  transition: background-color 0.2s;
  position:absolute;
}

button.active,
button:focus,
button:hover,
.button.active,
.button:focus,
.button:hover {
  outline: none;
  color: var(--background);
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

button:disabled,
.button:disabled {
  cursor: not-allowed;
  color: var(--dark-grey);
  background-color: var(--grey);
}

button.blue,
.button.blue {
  border: 2px solid var(--blue-dark);
  color: var(--blue);
}

button.blue.active,
button.blue:focus,
button.blue:hover,
.button.blue.active,
.button.blue:focus,
.button.blue:hover {
  color: var(--black);
  background-color: var(--blue);
  border: 2px solid var(--blue);
}

.buttonHome{
  position:absolute;
}

.buttonAbout{
  position:absolute;
  left:22%
}


/* links */
a {
  color: var(--color);
  border-bottom: 1px solid var(--color);
  text-decoration: none;
}

a:hover {
  background-color: var(--blue);
  border-bottom: 1px solid var(--blue);
}

/* header */
header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}


/* forms */
.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  border: 2px solid var(--dark-turquoise);
  padding: 1.75rem;
}

.form h3 {
  margin-bottom: 1rem;
}

input,
textarea,
select {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  transition: all 0.3s;
  border: 2px solid var(--color);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid var(--primary);
}

.form button[type="submit"] {
  width: 50%;
  cursor: pointer;
}

/* Filter */
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.filter .button, .filter button {
  margin: 0 0.5rem;
}


.manage .button, .manage button {
  margin-left: 0.25em;
}

.badge {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  margin: 0.25rem;
}

.badge.blue {
  background-color: var(--blue);
  border: 2px solid var(--blue-dark);
  color: var(--white);
}

.box {
  border: 2px solid var(--dark-turquoise);
  padding: 1.75rem;
}


.pokemonCards, .magicCards, .yugiohCards {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 333px);
  gap: 20px;
  position: relative; 
  top: 200px;
  left:-150px;
  border: 10px;
  border-color: black;
}

.card__image {
  width:100%;
  display: block;

}

.card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  
}

.about, .home{
  position:relative; 
  top: 45px;
  /* margin-top: 50px; */
}


.searchbar{
  position: absolute; 
  top:800px; 
  text-align: center;
  margin-left: 32%;
  left: 0px;
}
.submitButton{
  position: absolute; 
  left: 240px; 
  top: 210px
}

#search {
  width:500px;
  position: absolute; 
  top:10%; 
  left:54px
}

.new-card-form {
  position:absolute; 
  top: 70%;
  left: 57%;
  transform: translate(-50%,-50%);
  
  transform: translate(-50%, -50%);
  display: inline; 
  max-width: 1200px;
}
  .subBtn {
    
    position: absolute; 
    top: 160px;
  }



.yugiohBtn {
  background: url("https://crystal-cdn3.crystalcommerce.com/photos/6476657/large/cardback.jpg");
  background-size: cover;
  background-position: center;
  width:210px;
  height:300px
}

.yugiohLink {
 position:absolute;
 top: 29%;
 left:46%
}

.pokemonBtn {
  background: url("https://i.pinimg.com/originals/38/63/b3/3863b3b0eef1d377a59adfbf3918346e.png");
  background-size: cover;
  background-position: center;
  width:210px;
  height: 300px;
}

.pokemonLink {
  position:absolute;
 top: 28.2%;
 left:20%
}

.magicBtn {
  background: url("https://preview.redd.it/fr7g5swymhc41.png?width=640&crop=smart&auto=webp&s=930c8edaa0acc0755c71c3d737840d08a9e9a0b0");
  background-size: cover;
  position: relative; 
  bottom: 10px;
  background-position: center;
  width:210px;
  height: 300px;
}

.magicLink {

  position:absolute;
  top: 29%;
  left:70%;
  /* position: relative; left: 65%; top: 70% */
}

.logo{
  position: absolute;
  top:0;
  right:0;
  width:5%;
}

.sort{
  position: absolute;
  top: 800px;
  right:500px;
}



/* .display-details{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;

} */